<div class="overview">
  <header>
    <button class="menu-btn" id="menu-open" (click)="toggleSidebar()">
      <i class="bi bi-list"></i>
    </button>
    <h5 class="m-0">Hello <b>NIK</b>, welcome back!</h5>
  </header>

  <div class="separator">
    <div class="info">
      <h3 class="m-0">Overview</h3>
    </div>
  </div>

  <div class="analytics">
    <div class="item">
      <div class="item_progress">
        <div class="info">
          <h5>Games</h5>
          <h5 class="m-0">{{ games }}</h5>
        </div>
      </div>
      <i class="bi bi-dice-3"></i>
    </div>

    <div class="item">
      <div class="item_progress">
        <div class="info">
          <h5>Shops</h5>
          <h5 class="m-0">{{ shops }}</h5>
        </div>

      </div>
      <i class="bi bi-shop"></i>
    </div>


    <div class="item">
      <div class="item_progress">
        <div class="info">
          <h5>Categories</h5>
          <h5 class="m-0">{{ categories }}</h5>
        </div>

      </div>
      <i class="bi bi-bookmarks"></i>
    </div>

    <div class="item">
      <div class="item_progress">
        <div class="info">
          <h5>News</h5>
          <h5 class="m-0">{{ news }}</h5>
        </div>

      </div>
      <i class="bi bi-newspaper"></i>
    </div>
  </div>

  <div class="separator">
    <div class="info">
      <h3 class="m-0">Latest Actions</h3>
      <a href="#">View All</a>
    </div>

    <input type="date" value="2024-03-28">
  </div>

  <div class="planning">
    <div class="item">
      <div class="left">
        <div class="icon">
          <i class="bi bi-chat-square-dots"></i>
        </div>

        <div class="details">
          <h5>Comment</h5>
          <p>"Like!"</p>
        </div>
      </div>

      <i class="bi bi-three-dots-vertical"></i>
    </div>

    <div class="item">
      <div class="left">
        <div class="icon">
          <i class="bi bi-star"></i>
        </div>

        <div class="details">
          <h5>Rating</h5>
          <p>5 star</p>
        </div>
      </div>

      <i class="bi bi-three-dots-vertical"></i>
    </div>

    <div class="item">
      <div class="left">
        <div class="icon">
          <i class="bi bi-bag"></i>
        </div>

        <div class="details">
          <h5>Purchase</h5>
          <p>Game</p>
        </div>
      </div>

      <i class="bi bi-three-dots-vertical"></i>
    </div>

    <div class="item">
      <div class="left">
        <div class="icon">
          <i class="bi bi-chat-square-dots"></i>
        </div>

        <div class="details">
          <h5>Comment</h5>
          <p>"Like!"</p>
        </div>
      </div>

      <i class="bi bi-three-dots-vertical"></i>
    </div>

    <div class="item">
      <div class="left">
        <div class="icon">
          <i class="bi bi-star"></i>
        </div>

        <div class="details">
          <h5>Rating</h5>
          <p>5 star</p>
        </div>
      </div>

      <i class="bi bi-three-dots-vertical"></i>
    </div>

    <div class="item">
      <div class="left">
        <div class="icon">
          <i class="bi bi-bag"></i>
        </div>

        <div class="details">
          <h5>Purchase</h5>
          <p>Game</p>
        </div>
      </div>

      <i class="bi bi-three-dots-vertical"></i>
    </div>

  </div>

</div>
