.news {
  height: 100vh;
  padding: 40px 40px 0 40px;
  border-right: 2px solid #F0F0F0;
  border-left: 2px solid #F0F0F0;
  overflow-y: auto;
}

.menu-btn {
  width: 32px;
  height: 32px;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: #D1E6F9;
  border-radius: 6px;
  cursor: pointer;
  display: none;
}

.menu-btn i {
  font-size: 18px;
  color: #208BEE;
}

.hello {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
}

.hello h5 {
  font-size: 18px;
  color: #369FFF;
  font-weight: 400;
}

.news_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.header_title {
  font-size: 30px;
}

.news_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.container_search {
  width: 80%;
}

.container_add .btn {
  height: 31px;
  width: 31px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container_add .btn:hover {
  border-color: #000;
}

.container_add i {
  font-size: 22px;
}

/* === TABLE === */

.mat-table, mat-paginator {
  background: none;
}

.mat-mdc-row:nth-child(even) {
  background-color: #ffffff;
}

.mat-mdc-row:nth-child(odd) {
  background-color: #fafafa;
}

.mat-column-number {
  width: 1%;
  text-align: center;
}

.mat-column-title {
  width: 30%;
}

.mat-column-description {
  width: 40%;
}

.mat-column-date {
  width: 15%;
}

.mat-column-categoryId {
  width: 1%;
}

tr.mat-mdc-row:hover {
  background-color: #efefef;
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  .news {
    padding: 20px 20px 0 20px;
  }

  .mat-column-description {
    display: none;
  }

  .mat-column-title {
    width: 55%;
  }
}

@media screen and (max-width: 992px) {
  .news {
    border-left: none;
  }

  .menu-btn {
    display: flex;
  }

  .hello h5 {
    font-size: 16px;
  }

  .news_header {
    margin-bottom: 10px;
  }

  .header_title {
    font-size: 20px;
  }
}

@media screen and (max-width: 768px){
  .news {
    border-right: none;
    height: auto;
    /*overflow-y: visible;*/
  }

}

@media screen and (max-width: 500px){

}
